$main-color: white;
$hover-payment-color: #ebff9a;
$payment-grey-color: #475f66;
$facebook-color: #185DAE;

@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin f-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
}

@mixin uppercase-white {
    color: white;
    text-transform: uppercase;
}